/VMware
/Externals/Output
/KernelLand/Kernel/obj-x86_64/buildinfo.c
*.o
*.map
*.log
*.userprefs
*.so
*.dsm
*.gz
*.dep
*.kext.*
*.xo.*
*.bz2
*.DS_Store

/Externals/CrossCompiler/*build-*
/Externals/CrossCompiler/binutils-2.24
/Externals/CrossCompiler/gcc-4.9.2
