*.o
*.map
*.log
*.userprefs
*.dynlib
*.dsm
*.gz
*.dep
*.kext.*
*.xo.*
*.bz2
*.DS_Store
*.bin
*.img

/Externals/Output
/Externals/CrossCompiler/binutils-*
/Externals/CrossCompiler/build-*
/KernelLand/Kernel/obj-*