/VMware
/Externals/Output
/KernelLand/Kernel/obj-x86_64/buildinfo.c
/Userspace/tmp/druntime/dmd
*.o
*.map
*.log
*.userprefs
*.so
*.dsm
*.gz
*.dep
*.kext.*
*.xo.*
*.bz2
*.DS_Store
*.bin
*.img

/Externals/CrossCompiler/*build-*
/Externals/CrossCompiler/binutils-*
/Externals/CrossCompiler/gcc-*
/Externals/CrossCompiler/GDC-*
/Externals/CrossCompiler/gmp-*
/Externals/CrossCompiler/mpfr-*
/Externals/CrossCompiler/mpc-*
/KernelLand/Kernel/obj-x86_64/symbols.s
